certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
docker==7.1.0
idna==3.16
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.20.0
pytest==9.0.3
python-dotenv==1.2.2
pywin32==311
requests==2.34.2
testcontainers==4.14.2
typing_extensions==4.15.0
urllib3==2.7.0
wrapt==2.2.1
